<template name="leaveCardsetForm">
    <div class="modal fade" id="leaveCardsetModal" tabindex="-1" role="dialog" aria-labelledby="leaveCardsetTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-sign-out"></i>
                 </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="leaveCardsetTitle" class="modal-title">{{_ "confirm-leave-cardset.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "confirm-leave-cardset.text"}}</p>
                    <br>
                    <hr>
                    <button id="leaveCardsetConfirm" class="btn btn-block btn-raised btn-default btn-danger">{{_
                            "confirm-leave-cardset.btn-txt"}}</button>
                    <button id="leaveCardsetCancel" class="btn btn-default btn-block btn-raised"
                            data-dismiss="modal">{{_ "modal-dialog.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
