<template name="cardSidebarItemCopy">
    {{#if canCopyCard this.cardset_id}}
        {{#if isCardNavigationVisible}}
            <span class="copyCard glyphicon glyphicon-duplicate card-button cardHeaderItem"
                  data-id="{{_id}}"
                  data-type="cardNavigation"></span>
        {{else}}
            <span class="copyCard glyphicon glyphicon-duplicate card-button cardHeaderItem"
                  data-id="{{_id}}"
                  data-type="cardNavigation" disabled></span>
        {{/if}}
    {{/if}}
</template>
