<template name="impressumAGB">
    <div class="panel panel-default">
        <div class="panel-heading info-tab">
            {{#if isActiveLanguage 'de'}}
                {{> impressumAGBHeadingDE}}
            {{else}}
                {{> impressumAGBHeadingEN}}
            {{/if}}
        </div>
        <div class="panel-body info-tab">
            {{#if isActiveLanguage 'de'}}
                {{> impressumAGBContentDE}}
            {{else}}
                {{> impressumAGBContentEN}}
            {{/if}}
        </div>
    </div>
</template>
